In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kaitangata,NZ,2021-10-20 22:29:04,-46.2817,169.8464,50.47,56,100,4.45
1,1,Tuatapere,NZ,2021-10-20 22:29:05,-46.1333,167.6833,50.34,58,96,3.42
2,2,Butaritari,KI,2021-10-20 22:29:05,3.0707,172.7902,81.46,74,28,9.73
3,3,Dudinka,RU,2021-10-20 22:29:06,69.4058,86.1778,25.34,92,100,17.67
4,4,Boyuibe,BO,2021-10-20 22:29:06,-20.4167,-63.2833,85.91,28,62,5.73

In [3]:
# Get the data types of the columns
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# This is to fix the max temp being negative in the heat map below
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
#heat_layer = gmaps.heatmap_layer(locations, weights=temps)
#Using list comprehension to fix max temp error and temperature gradiation
heat_layer = heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Getting input
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Butaritari,KI,2021-10-20 22:29:05,3.0707,172.7902,81.46,74,28,9.73
4,4,Boyuibe,BO,2021-10-20 22:29:06,-20.4167,-63.2833,85.91,28,62,5.73
7,7,Hilo,US,2021-10-20 22:25:51,19.7297,-155.0900,80.33,65,40,13.80
12,12,Puerto Ayora,EC,2021-10-20 22:29:10,-0.7393,-90.3518,76.96,80,97,10.00
17,17,Kavaratti,IN,2021-10-20 22:29:12,10.5669,72.6420,81.79,74,97,10.65
20,20,Avarua,CK,2021-10-20 22:29:13,-21.2078,-159.7750,77.05,65,40,9.22
22,22,Victoria,HK,2021-10-20 22:24:15,22.2855,114.1577,79.32,87,87,4.00
28,28,Coahuayana,MX,2021-10-20 22:29:17,18.7333,-103.6833,87.28,72,36,5.48
29,29,Inirida,CO,2021-10-20 22:29:18,3.8653,-67.9239,77.88,90,91,1.16
37,37,Labrea,BR,2021-10-20 22:29:22,-7.2586,-64.7981,84.25,66,97,2.64

In [12]:
# Checking for null values
preferred_cities_df.count()

City_ID       155
City          155
Country       155
Date          155
Lat           155
Lng           155
Max Temp      155
Humidity      155
Cloudiness    155
Wind Speed    155
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
2     Butaritari      KI     81.46   3.0707  172.7902
4        Boyuibe      BO     85.91 -20.4167  -63.2833
7           Hilo      US     80.33  19.7297 -155.0900
12  Puerto Ayora      EC     76.96  -0.7393  -90.3518
17     Kavaratti      IN     81.79  10.5669   72.6420
20        Avarua      CK     77.05 -21.2078 -159.7750
22      Victoria      HK     79.32  22.2855  114.1577
28    Coahuayana      MX     87.28  18.7333 -103.6833
29       Inirida      CO     77.88   3.8653  -67.9239
37        Labrea      BR     84.25  -7.2586  -64.7981

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [17]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [18]:
# Check the dataframe
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Butaritari,KI,81.46,3.0707,172.7902,Isles Sunset Lodge
4,Boyuibe,BO,85.91,-20.4167,-63.2833,Residencial Eluzai
7,Hilo,US,80.33,19.7297,-155.0900,Hilo Hawaiian Hotel
12,Puerto Ayora,EC,76.96,-0.7393,-90.3518,Finch Bay Galapagos Hotel
17,Kavaratti,IN,81.79,10.5669,72.6420,Hotels in Lakshadweep Islands
20,Avarua,CK,77.05,-21.2078,-159.7750,Paradise Inn
22,Victoria,HK,79.32,22.2855,114.1577,Mini Hotel Central
28,Coahuayana,MX,87.28,18.7333,-103.6833,El rranchito michuacan de ocampos
29,Inirida,CO,77.88,3.8653,-67.9239,Fuente del Guania Hotel de Lujo
37,Labrea,BR,84.25,-7.2586,-64.7981,Hotel Novo Horizonte

In [20]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [22]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))